<!-- Navbar -->

<nav class="flex justify-between items-center px-2 sm:px-2 md:px-2 lg:px-8 xl:px-8 py-3 shadow">
  <div>
    <!-- Logo -->
    <img src="/assets/images/Logo.svg" alt="logo do prodmon" width="170px">
  </div>

  <div>
    <!-- botões -->
    <ul class="font-Ubuntu flex gap-4 items-center font-semibold">
      <li class="text-blue-500"><a href="#">Login</a></li>
      <li class="px-3 py-2 text-white bg-blue-500 rounded"><a href="#">Criar conta</a></li>
    </ul>
  </div>
</nav>


<!--  primeira section -->
<section class="py-5">
  <div class="flex flex-col sm:flex-col md:flex-col lg:flex-row xl:flex-row justify-center" style="min-height: 80vh;">
    <div class="w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/2 py-3 flex flex-col justify-center align-center">
      <div class="texts mt-10 px-5 sm:px-3 md:px-3 lg:px-20 xl:px-20">
        <div class="detail hidden sm:hidden md:hidden lg:block xl:block" style="position:absolute; margin-top: -40px; margin-left: -20px;">
          <svg width="100" height="100" viewBox="0 0 198 198" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="99" cy="99" r="99" fill="#0066FF" fill-opacity="0.1"/>
            </svg>
        </div>
        <h1 class="font-semibold font-Ubuntu text-3xl text-blue-600 text-center sm:text-center md:text-center lg:text-start xl:text-start">Organize sua  vida
          <h1>com uma ferramenta </h1></h1>
        <p class="py-1 w-full sm:w-full md:w-full lg:w-3/4 xl:w-3/4 text-center sm:text-center md:text-center lg:text-start xl:text-start">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laboriosam adipisci magni voluptatem inventore doloribus ipsa facilis unde ab quibusdam corporis dolores, quidem enim iure cupiditate ut culpa. Suscipit, ex.</p>
        <div class="button mt-5 bg-blue-500 text-center rounded py-3 font-bold">
         <a href="#" class="text-white font-Ubuntu w-full"><button class="w-9/12">Inicie gratuitamente</button></a>
          </div>
      </div>
      </div>
    <div class="w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/2 justify-center items-center flex flex-col order-first sm:order-first md:order-first lg:order-last xl:order-last">
        <img src="/assets/images/imagemUm.svg" alt="" width="70%">
    </div>
  </div>
</section>



<!-- section 02 -->
<section class="py-10" style="min-height: 100vh; background-color: #FFF;">
  <div class="flex flex-col sm:flex-col md:flex-col lg:flex-row xl:flex-row align-center py-10 absolute mt-10 justify-center" style="background-color: #dfe9f9; height: 70vh;">
    <div class="w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/2 flex flex-col justify-center align-center ">
    <div class="texts px-5 sm:px-3 md:px-3 lg:px-20 xl:px-20">
      <h1 class="font-semibold font-Ubuntu text-3xl text-blue-600 text-center sm:text-center md:text-center lg:text-start xl:text-start mt-5">Organize sua  vida
        <h1>com uma ferramenta </h1></h1>
      <p class="w-full sm:w-full md:w-full lg:w-3/4 xl:w-3/4 py-1 text-center sm:text-center md:text-center lg:text-start xl:text-start pb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit.Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
    </div>

    <div class="w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/2 justify-center items-center flex flex-col order-first sm:order-first md:order-first lg:order-last xl:order-last">
      <img src="/assets/images/imagemDois.svg" alt="" width="90%" style="max-width:590px;">
  </div>
</div>
</section>
