<!-- Navbar -->

<nav class="flex justify-between items-center px-8 py-3 shadow">
  <div>
    <!-- Logo -->
    <img src="/assets/images/Logo.svg" alt="logo do prodmon" width="170px">
  </div>

  <div>
    <!-- botões -->
    <ul class="font-Ubuntu flex gap-4 items-center font-semibold">
      <li class="text-blue-500"><a href="#">Login</a></li>
      <li class="px-3 py-2 text-white bg-blue-500 rounded"><a href="#">Criar conta</a></li>
    </ul>
  </div>
</nav>


<!--  primeira section -->

<section class="py-5">
  <div class="flex flex-col sm:flex-col md:flex-col lg:flex-row xl:flex-row justify-center" style="height: 80vh;">
    <div class="w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/2 px-20 py-3 flex flex-col justify-center align-center ">
      <div class="texts">
        <div class="detail" style="position: fixed; margin-top: -40px; margin-left: -20px;">
          <svg width="100" height="100" viewBox="0 0 198 198" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="99" cy="99" r="99" fill="#0066FF" fill-opacity="0.1"/>
            </svg>
        </div>
        <h1 class="font-semibold font-Ubuntu text-4xl text-blue-600">Organize sua  vida
          <h1>com uma ferramenta </h1></h1>
        <p class="py-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laboriosam adipisci magni voluptatem inventore doloribus ipsa facilis unde ab quibusdam corporis dolores, quidem enim iure cupiditate ut culpa. Suscipit, ex.</p>

        <div class="button mt-5">

         <a href="#" class="bg-blue-500 px-8 py-3 rounded text-white font-Ubuntu w-full"><button class="w-9/12">Inicie gratuitamente</button></a>

          </div>
      </div>
      </div>
    <div class="w-full sm:w-full md:w-full lg:w-1/2 xl:w-1/2 justify-center items-center flex flex-col order-first sm:order-first md:order-first lg:order-last xl:order-last">
        <img src="/assets/images/imagemUm.svg" alt="" width="65%">
    </div>
  </div>
</section>
